@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  margin: 0;
  font-family: "Poppins", serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eee;
  font-size: 16px;
  background: linear-gradient(rgb(249, 255, 255) 0%, rgb(56, 200, 230) 100%);
}
#root {
  max-width: 1024px;
  width: 100%;
  margin: auto 0;
  padding: 0 20px;
}
